<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>GymControl</title>


<!-- Bootstrap core CSS -->
<link th:href="@{vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{css/heroic-features.css}" rel="stylesheet">

</head>

<body>
  <!-- Navigation -->
  <div th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

      <a class="navbar-brand" th:href="@{/administrador}">GymControl</a>

      <!-- ========== BUSCADORES DINÁMICOS ========== -->
      <div th:switch="${page}">

        <!-- Buscador en HOME: Productos -->
        <form th:case="'home'" class="form-inline my-2 my-lg-0"
              th:action="@{/administrador/searchProductos}" method="post">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto" name="nombre" autocomplete="off">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>

        <!-- Buscador en SOCIOS -->
        <form th:case="'socios'" class="form-inline my-2 my-lg-0"
              th:action="@{/administrador/searchSocios}" method="post">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar socio" name="nombre" autocomplete="off">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>

        <!-- Buscador en VENTAS -->
        <form th:case="'ventas'" class="form-inline my-2 my-lg-0"
              th:action="@{/administrador/searchVentas}" method="post">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar venta" name="numero" autocomplete="off">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>

        <!-- En 'detalle', NO mostramos buscador -->
        <div th:case="'detalle'"></div>

      </div>
      <!-- ========== FIN SWITCH ========== -->

      <!-- Botón hamburguesa -->
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menú derecho -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ADMIN
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" th:href="@{/inventarios}">Inventario</a>
              <a class="dropdown-item" th:href="@{/administrador/socios}">Usuarios</a>
              <a class="dropdown-item" th:href="@{/administrador/ventas}">Órdenes</a>
              <a class="dropdown-item" th:href="@{/socio/cerrar}">Cerrar</a>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </nav>
</div>
    

	<div th:fragment="footer">
    <footer class="py-5 bg-dark text-white">
        <div class="container-fluid text-center">
            <!-- Información principal -->
            <div class="row text-center text-md-start mb-3">
                <!-- Contacto -->
                <div class="col-md-4 mb-3">
                    <h5>Contacto</h5>
                    <p>Teléfono: +51 987 654 321</p>
                    <p>Email: contacto@springgym.com</p>
                </div>

                <!-- Delivery -->
                <div class="col-md-4 mb-3">
                    <h5>Delivery</h5>
                    <p>Envíos locales</p>
                    <p>Servicio rápido y seguro</p>
                </div>

                <!-- Horario de atención -->
                <div class="col-md-4 mb-3">
                    <h5>Horario de Atención</h5>
                    <p>Lunes a Viernes: 08:00 - 20:00</p>
                    <p>Sábado: 09:00 - 17:00</p>
                    <p>Domingo: Cerrado</p>
                </div>
            </div>

            <!-- Derechos de autor -->
            <div class="text-center mt-3">
                <p class="m-0">&copy; 2025 SpringGym. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
</div>
	<!-- Bootstrap core JavaScript -->
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>


</html>
