<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GymControl</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div th:include="administrador\template_admin.html::header"></div>

<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
<div class="container mt-5">
   <h1 class="mb-3 text-white">
    GymControl <small class="text-white fw-light" style="color: #f8f9fa;">Productos</small>
  </h1>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a th:href="@{/administrador}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Crear Productos</li>
    </ol>
  </nav>

  <div class="card shadow-sm p-4">
    <h2 class="mb-4">Crear Producto</h2>

    <form th:action="@{/inventarios/save}" method="post" enctype="multipart/form-data">

      <!-- Nombre -->
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre"
               placeholder="Ingrese el nombre del producto" autocomplete="off" required>
      </div>

      <!-- Descripción -->
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción:</label>
        <textarea class="form-control" id="descripcion" name="descripcion"
                  placeholder="Ingrese la descripción del producto" rows="3" autocomplete="off" required></textarea>
      </div>

      <!-- Cantidad -->
      <div class="mb-3">
        <label for="cantidad" class="form-label">Cantidad:</label>
        <input type="number" class="form-control" id="cantidad" name="cantidad"
               placeholder="Ingrese la cantidad del producto" required autocomplete="off">
      </div>

      <!-- Precio -->
      <div class="mb-3">
        <label for="precio" class="form-label">Precio:</label>
        <input type="number" class="form-control" step="any" id="precio" name="precio"
               placeholder="Ingrese el precio del producto" autocomplete="off" required>
      </div>

      <!-- Imagen -->
      <div class="mb-3">
        <label for="img" class="form-label">Imagen:</label><br></br>
        <input type="file" class="" id="img" name="img" accept="image/*">
      </div>

      <!-- Botón -->
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-success">
          <i class="bi bi-save"></i> Guardar
        </button>
      </div>

    </form>
  </div>
</div>
</div>
<!-- /.container -->

<!-- Footer -->
   <div th:include="administrador\template_admin.html::footer"></div>


    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>


</body>

</html>
